/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: ZerofourB;
    src: url(..\assets\fonts\04B.ttf);
}

h1 {
    font-family: ZerofourB;
    position: absolute;
    text-align: center;
    top: 70%;
    font-size: x-large;
    
}

#text {
    opacity: 0%;
}

.yellow-rectangle {
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(45deg, #67d0dd 8.33%, #9fe481 8.33%, #9fe481 16.67%, #f6e785 16.67%, #f6e785 25%, #faafa5 25%, #faafa5 33.33%, #dc95dd 33.33%, #dc95dd 41.67%, #a885ee 41.67%, #a885ee 50%, #67d0dd 50%, #67d0dd 58.33%, #9fe481 58.33%, #9fe481 66.67%, #f6e785 66.67%, #f6e785 75%, #faafa5 75%, #faafa5 83.33%, #dc95dd 83.33%, #dc95dd 91.67%, #a885ee 91.67%, #a885ee 100%);
    background-size: 169.71px 169.71px;
    /* background-image: url("../src/assets/speedstripes.png");*/
    animation: backgroundScroll 0.8s linear infinite;
    margin-top: 35vh;
    height: 400px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    padding-left: -4px;
    padding-right: -4px;
    border-radius: 10px;
    max-width: 850px;
    z-index: 100;
    transform: scaleY(0);
}

#cookieplate {
    position: absolute;
    z-index: 100;
}

@keyframes backgroundScroll {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 169.71px 0px;
    }
}





