<div class="yellow-rectangle" id="yellow-rectangle">
  <img alt="Koekiebord" class="pixelgraphics" id="cookieplate" src="..\assets\koekie_plate_small.png">
  <img alt="Shine" class="pixelgraphics" id="shine" src="..\assets\shine.png">
  <app-hands (lost)="gameOver()" (randomHand)="handRandomizer()" (resetHandPosition)="setHandStartPosition()"
             (win)="gameWon()"></app-hands>
  <h1 id="text">Laat je koekies niet afpakken!</h1>
  <div class="buttons">
    <button id="left_button" onclick="window.location.href='http://www.klarekoek.nl'">Accepteer Koekies</button>
    <button id="middle_button" onclick="window.location.href='http://www.klarekoek.nl'">Koekloos Verder</button>
    <button (click)="resetGame()" id="right_button">Nog Een Keer</button>
  </div>
</div>
<div id="preload-images"></div>