<div id="yellow-rectangle" class="yellow-rectangle">
  <img id="cookieplate" class="pixelgraphics" src="..\assets\koekie_plate_small.png" alt="Koekiebord">
  <app-hands (lost)="gameOver()" (win)="gameWon()" (randomHand)="handRandomizer()" (resetHandPosition)="setHandStartPosition()"></app-hands>
  <h1 id="text">Laat je je koekies niet afpakken!</h1>
  <div class="buttons">
    <button onclick="window.location.href='http://www.klarekoek.nl'" id="left_button">Accepteer Koekies</button>
    <button onclick="window.location.href='http://www.klarekoek.nl'" id="middle_button">Koekloos Verder</button>
    <button (click)="resetGame()" id="right_button">Nog Een Keer</button>
  </div>
</div>