#lefthand {
    position: absolute;
    right: 20%;
    bottom: 180px;
    width: 80%;
    z-index: 200;
}

#righthand {
    position: absolute;
    right: -700px;
    bottom: 180px;
    width: 80%;
    z-index: 210;
}

